body, html { 
    height: 100%; margin: 0; padding: 0; 
    background-color: transparent; 
    overflow: hidden; 
}

#buddy-img { 
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-user-drag: none;
}