<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Painel de Controle</title>
    <link rel="stylesheet" href="./panel.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Buddy App</h1>
        <p>Clique no botão abaixo para iniciar seu companheiro.</p>
        <div class="button-container">
            <button id="start-button">Iniciar Buddy</button>
            <button id="close-button">Fechar Buddy</button>
            <button id="open-log-button">Ver Log</button>
        </div>
    </div>
    <script src="./panel.js"></script>
</body>
</html>