<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./inputBar.css">
</head>
<body>
    <div class="input-container">
        <button id="menu-button" title="Painel de Controle">+</button>
        <button id="log-button" title="Log">📖</button>
        <button id="resend-button" title="Reenviar">🔄</button>
        <form id="chat-form">
            <input type="text" id="chat-input" placeholder="Converse com o Buddy..." autocomplete="off">
            <button type="submit" title="Enviar">▶</button>
        </form>
    </div>
    <script src="./inputBar.js"></script>
</body>
</html>